<div class="row">

  <% if params[:search] %>
    <h1>Search Results</h1>
  <% else %>
    <h1>Dev Tools</h1>
  <% end %>

  <div class="small-12 column">
    <h6><%= "No results found." if params[:search] && @tools.empty? %></h6>

    <ul>
      <% @tools.each do |tool| %>
      <li>
        <%= link_to tool.name, tool_path(tool.id) %>
          <% if current_user && (current_user.admin? || tool.user) %>
        <%= button_to "Delete #{tool.name}", tool_path(tool), method: :delete,
        class: "small button radius" %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to "Add a dev tool!", new_tool_path %>

<%= paginate @tools %>
