<div class="row tool-info">
  <h1><%= @tool.name %></h1>
  <p><%= @tool.description %></p>
</div>


<div class="row">
  <h3>Reviews</h3>

  <% @reviews.each_with_index do |review, idx| %>
    <h5><%= '★' * review.rating.to_i %>
      <br>
      <%= review.body %></h5>
      <br>
      <ul class="comment-list">
        <% review.comments.each do |comment| %>
          <li>
            <span class="user-email"><%= "#{comment.user.email} opines on this opinion: " %></span>
            <br>
            <%= comment.body %>
          </li>
        <% end %>
      </ul>

      <ul class="accordion" data-accordion>
        <li class="accordion-navigation">
          <%= link_to "Add comment", "#comment-form#{idx}" %>
          <div id= <%="comment-form#{idx}"%> class="content comment-form">
            <%= form_for [review, @comment] do |f| %>
              <div class="medium-6 column">
                <%= f.text_area :body %>
                <%= f.submit 'Submit comment', class: "button radius" %>
              </div>
            <% end %>
          </div>
        </li>
      </ul>


  <% end %>

  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <%= link_to "Add your own review of #{@tool.name}", "#review-form" %>
      <div id="review-form" class="content">
        <%= form_for [@tool, @review] do |f| %>
          <div class="medium-6 column">
            <%= f.label :rating, "My rating" %>
            <%= f.select :rating, [nil, ['★', 1], ['★★', 2], ['★★★', 3], ['★★★★', 4], ['★★★★★', 5] ] %>
          </div>
          <div class="small-12 column">
            <%= f.label :body, "My review" %>
            <%= f.text_area :body, rows: "10" %>
            <%= f.submit 'Submit', class: "button radius" %>
          </div>

        <% end %>
      </div>
    </li>
  </ul>
</div>
