<div class="row tool-info">
  <%= link_to @category.name, @category %>
  <h1><%= @tool.name %></h1>
  <p><%= @tool.description %></p>
</div>

<div class="row">
  <h3>Reviews</h3>
  <h6><%= "#{@tool.reviews.count} reviews—average rating: #{@tool.average_stars}"%></h6>

  <%= render partial: "review", collection: @reviews %>
</div>

<div class="row">
  <ul class="accordion new-review-form" data-accordion>
    <li class="accordion-navigation">
      <%= link_to "Add your own review of #{@tool.name}", "#review-form" %>
      <%= render "new_review" %>
    </li>
  </ul>
</div>
