<div class="row tool-info">
  <%= link_to @category.name, @category %>
  <h1><%= @tool.name %></h1>
  <p><%= @tool.description %></p>
</div>


<div class="row">
  <h3>Reviews</h3>

  <% @reviews.each do |review| %>
    <h5><%= '★' * review.rating.to_i %>
      <br>
      <%= review.body %></h5>
  <% end %>

  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <%= link_to "Add your own review of #{@tool.name}", "#review-form" %>
      <div id="review-form" class="content">
        <%= form_for [@tool, @review] do |f| %>
          <div class="medium-6 column">
            <%= f.label :rating, "My rating" %>
            <%= f.select :rating, [nil, ['★', 1], ['★★', 2], ['★★★', 3], ['★★★★', 4], ['★★★★★', 5] ] %>
          </div>
          <div class="small-12 column">
            <%= f.label :body, "My review" %>
            <%= f.text_area :body, rows: "10" %>
            <%= f.submit 'Submit', class: "button radius" %>
          </div>

        <% end %>
      </div>
    </li>
  </ul>
</div>
