<div class="row tool-info">
  <%= link_to @category.name, @category %>
  <h1><%= @tool.name %></h1>
  <p><%= @tool.description %></p>
</div>


<div class="row">

  <h3>Reviews</h3>
  <h6><%= "#{@tool.reviews.count} reviews—average rating: #{@tool.average_stars}"%></h6>

  <% @reviews.each_with_index do |review, idx| %>
    <% unless review.body.empty? %>
    <div class="review">
      <p><%= '★' * review.rating.to_i %></p>
      <p><%= review.body %></h5></p>

        <%= link_to "#{review.comments.count} comment(s)", "#", class: "comment-toggle" %>

        <div class="small-12 column comment-div" hidden>
          <ul class="comment-list">
            <% review.comments.each do |comment| %>
              <li>
                <p class="user-attribution"><%= "#{comment.user.email} opines on this opinion: " %></p>
                <p><%= comment.body %></p>
              </li>
            <% end %>
          </ul>

          <ul class="accordion new-comment-form" data-accordion>
            <li class="accordion-navigation">
              <%= link_to "Add a comment", "#comment-form#{idx}" %>
              <div id= <%="comment-form#{idx}"%> class="content comment-form">
                <%= form_for [review, @comment] do |f| %>
                  <%= f.text_area :body %>
                  <%= f.submit 'Submit comment', class: "small button radius" %>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
    </div>
  <% end %>
  <% end %>



  <ul class="accordion new-review-form" data-accordion>
    <li class="accordion-navigation">
      <%= link_to "Add your own review of #{@tool.name}", "#review-form" %>
      <div id="review-form" class="content">
        <%= form_for [@tool, @review] do |f| %>
          <div class="medium-6 column">
            <%= f.label :rating, "My rating" %>
            <%= f.select :rating, [nil, ['★', 1], ['★★', 2], ['★★★', 3], ['★★★★', 4], ['★★★★★', 5] ] %>
          </div>
          <div class="small-12 column">
            <%= f.label :body, "My review" %>
            <%= f.text_area :body, rows: "10" %>
            <%= f.submit 'Submit', class: "button radius" %>
          </div>

        <% end %>
      </div>
    </li>
  </ul>
</div>
