<% unless review.body.empty? %>
<div class="review">
  <% if current_user && (current_user.admin? || current_user == review.user) %>
    <ul class="inline-list">
      <li><%= link_to "Edit Review", edit_tool_review_path(review.tool, review), method: :get %></li>
      <li><%= link_to "Delete Review", tool_review_path(review.tool, review), method: :delete %></li>
    </ul>
  <% end %>

  <p><%= review.star_rating %></p>
  <p><%= review.body %></p>
  <%= link_to "#{review.comments.count} comment(s)", "#", class: "comment-toggle" %>

  <div class="small-12 column comment-div" hidden>
    <%= render partial: "tools/comments_section", locals: {review: review} %>
  </div>
</div>
<% end %>
